<h3>Play the song</h3>
<% if @song.lagu.attached? %>
    <div>Album: <%= @song.album %></div>
    <div>Title: <%= @song.title %></div>
    <div>Band: <%= @song.band.name %></div>
    <div>Year: <%= @song.year %></div>
    <div>Price: <%= @song.price %></div>
    <hr size="1" />
  <%= audio_tag url_for(@song.lagu), controls: true, id: "audio-player" %>
<% else %>
  <p>No audio file available</p>
<% end %>
<script>
document.addEventListener("DOMContentLoaded", function() {
  var audioPlayer = document.getElementById("audio-player");

  if (audioPlayer) {
    audioPlayer.addEventListener("play", function() {
        alert('Playing')    
    });
  }
});
</script>